#compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.d
*.a
*.sl
*.swp
*.pyc
gmon.out
build_O3
build_O1
build_O0
*.log

#scons
.sconsign.dblite

#excluded folders#
event/obj/*
event/root/*
junk/*
output/*
runlists/*
output/*
input/mutable_parameters/*
weights/
tmva/scripts

#apps#
apps/*
!apps/src/
!apps/obj
!apps/Rules.mk

#tesapps#
testapps/*
!testapps/src/
!testapps/obj
!testapps/Rules.mk

unit/*
!unit/src/
!unit/obj
!unit/Rules.mk

#excluded files#
