#compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.d
*.a
*.sl
*.swp
*.swo
*.pyc
*.comp.yaml
*.yamlc
*.root
gmon.out
build_O3
build_O1
build_O0
build_bham
*.log
tags
*.__afs*
*.nfs*

#scons
.sconsign.dblite

#excluded folders#
event/obj/*
event/root/*
junk/*
output/*
runlists/*
output/*
input/mutable_parameters/*
weights/
tmva/scripts
runlists
test
halo_out

tmp/*
local/*

#apps#
apps/*
!apps/src/
!apps/obj
!apps/Rules.mk
!apps/SConscript

#tesapps#
testapps/*
!testapps/src/
!testapps/obj
!testapps/Rules.mk

unit/*
!unit/src/
!unit/obj
!unit/Rules.mk

#excluded files#
data
tdata
